/*@Author William E. Velázquez A. - info@williamvelazquez.com*/
.search-container {
  color: white;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: 300px;
  margin-bottom: 30px;
}

.table {
  background: white;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.container-table {
  
}

.boton-historico {
  margin-top: 5px;
  background: #2DCCCD;
}

.boton-historico:hover {
  background: #02A5A5;

}
