/*@Author William E. Velázquez A. - info@williamvelazquez.com*/

.search-container {
  color: white;
  display: grid;
  text-align: center;
  justify-content: center;
  grid-template-columns: 300px;
  margin-bottom: 30px;
}
